.container {
    min-height: 100%;
    padding: 2px 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
}

mat-card {
    width: 400px;
}

mat-tab-group {
    width: 600px;
}

.tab-content-container {
    padding: 20px 10px;
}

@media only screen and (max-width: 992px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px 20px;
    }

    mat-tab-group {
        width: 90%;
    }
}
