<div class="container">
    <mat-card>
        <mat-card-title>Mindful</mat-card-title>
        <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minima quos
            reprehenderit, at similique,
            voluptate doloremque sit numquam odio debitis ullam consequuntur asperiores ab non, ipsa a! Doloribus
            impedit rem commodi excepturi voluptatem ea quos, libero vitae dolor in blanditiis sit voluptate
            laboriosam officiis perferendis obcaecati doloremque quod praesentium natus.</mat-card-content>
    </mat-card>

    <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab label="Login">
            <div class="tab-content-container mat-elevation-z4">
                <app-sign-in></app-sign-in>
            </div>
        </mat-tab>
        <mat-tab label="Sign Up">
            <div class="tab-content-container mat-elevation-z4">
                <app-sign-up></app-sign-up>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>